body {
		background-color: gray;
}

p {
	color: white;
	background-color: black;
	
	}
	
h2 {
	color: blue;
	background-color: black;
}

h6 {
	color: yellow;
}

.blue-text {color:blue;}
.red-text {color:red;}
.yellow-text {color:yellow;}

#first-paragraph {background-color: white;}